@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

header, footer {
    font-family: 'Inter', sans-serif !important;
}

.nav-link.active {
    color: #17A200 !important;
    border-bottom: 5px solid #17A200 !important;
}

@media (max-width: 426px) {
    #width {
        width: 100% !important;
    }
}

@media (max-width: 769px) {
    .nav-link {
        color: black !important;
    }

    .nav-link.active {
        border-bottom: none !important;
    }

    #sign-up {
        background-color: transparent !important;
    }
}

